
/* Global declarations */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #0C243C ;
    color: #C9D1D5;
    font-family: 'Roboto', sans-serif;
}

.heading{
    color: #55C2C3;
    font-family: 'Space Mono', monospace;

}

.btn{
    background-color: #0C243C;
    border: 1px solid #C9D1D5;
    padding: 5px 10px;
    border-radius: 5px;
    color: #C9D1D5;
}

.btn:hover{
    cursor: pointer;
    background-color: #55C2C3;
    color: #0C243C;
}

/* Nav Styling */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 2rem;
    padding: 1rem;
}

.logo{
    font-size: 1.75rem;
    font-family: 'Space Mono', monospace;
}

nav a {
    text-decoration: none;
    color: #C9D1D5;
}

.navLinks ul{
    display: flex;
    gap: 2rem;
}

.navLinks li{
    list-style: none;
    
}

.navItem{
    font-size: 1.25rem;

}

.navItem:hover{
    color: #55C2C3;    
}

.navItem:after {
    display:block;
    content: '';
    border-bottom: solid 2px #55C2C3;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
.navItem:hover:after { 
    color: #55C2C3;
    transform: scaleX(1); 
}
.navItem.fromRight:after{ 
    transform-origin:100% 50%; 
}
.navItem.fromLeft:after{  
    transform-origin:  0% 50%; 
}

/* Footer Styling */

footer{
    border-top: #C9D1D5 1px solid;
    padding: 1rem 5rem;
    text-align: center;
    margin-top: 1rem;
    
}

.footerLinkWrapper{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.footerLink{
    min-width: 40px;
    max-width: 75px;
    fill: #C9D1D5;
}

.footerLink:hover{
    fill: #55C2C3;
}


/* Home Page Styling */

.hero{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 0 5rem;
}

.homeArrow{
    position: absolute;
    width: 30px;  
    bottom: 10px;
    left: 50%;
    cursor: pointer;
}

.pulse {
    border-radius: 70px;
    animation: pulse-animation 2s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
        background-color: rgba(201, 209, 213, 0.137);
      box-shadow: 0 0 0 0px rgba(201, 209, 213, 0.137);
    }
    100% {
        background-color: rgba(201, 209, 213, 0);
      box-shadow: 0 0 0 20px rgba(201, 209, 213, 0);
    }
  }

.homePageBody{
    padding: 5rem;
    line-height: 2rem;
    font-size: 1.15rem;
}

.aboutMeHome{
    display: flex;
    flex-direction: column;
}

.info{
    max-width: 50%;
    margin: 2rem 0;
    align-self: center;
    text-align: center;
}

.whatIKnow{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
   width: 100%;
}

.tech{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.techCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 100px;
   
    
}

.techLogo{
    max-width: 100px;
}

.seoTech{
    display: flex;
    justify-content: space-around;
}

.ahrefsLogo{
    max-width: 200px;
    align-self: center;
    justify-self: center;
}

.workedOn{
    display: flex;
    flex-direction: column;
}

.works{
    display: flex;
   
    justify-content: space-around;
    padding: 2rem;
}

.card{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
    max-width: 400px;
}

.projectScrnShot{
    max-width: 300px;
}

.projButtons{
    display: flex;
    gap: 20px;
}

.homePgProjBtn{
    align-self: center;
  
}

/* About Me Page  */
.aboutMeMain{
    padding: 5rem;
}

.aboutMeBodyTop{
    display: flex;
    flex-direction: row-reverse;
}

.aboutMeBody{
    line-height: 2rem;
}

.aboutMeBody p{
    font-size: 1.15rem;
    margin-top: 2rem;
}

.linkWrapper{
    text-align: center;
    min-height: 100%;
}

.keyLink{
    min-width: 50px;
    max-width: 75px;
    fill: #C9D1D5;
}

.keyLink:hover{
    fill: #55C2C3;
}

.linkContainer{
    min-width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
}

.personalLife{
    margin-top: 2rem;
}

/* Projects Styling  */

.projectsMain{
    padding: 2rem 5rem;
}

.featuredProjects{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.featuredProjCard{
    margin: 2rem 0;
    display: flex;
    gap: 2rem;
}

.explanation p {
    margin: 2rem 0;

}


@media (max-width: 500px) {
    .hero{
        text-align: center;
    }

    .info{
        max-width: 100%;
    }

    .tech{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
    }

    .seoTech{
        flex-wrap: wrap;
    }

    .homePageBody{
        padding: 0rem 1.5rem;
    }

    .works{
        flex-wrap: wrap;
    }

    /* About Me Mobile Styling */

    .aboutMeBodyTop{
        flex-direction: column-reverse;
    }

    .aboutMeMain{
        padding: 5rem 2rem;
    }

    .linkContainer{
        min-width: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1.5rem;
    }

    .linkWrapper{
        margin-top: 1rem;
    }

    /* Projects mobile styling */

    .projectsMain{
        padding: 2rem 2rem;
    }

    .featuredProjCard{
        flex-direction: column;
    }

    .projectScrnShot{
        align-self: center;
    }
    
}